<div class="container" style="text-align: center; background-color: black; color: white;">
  <h1>Rest Api - HttpClient</h1>
  
  <button class="btn btn-primary mt-2 m-2" (click)="getAllTasks()">Obtener Tareas</button> <!-- el boton que ejecuta las tareas -->
  <button class="btn btn-primary mt-2 m-2" (click)="getTask()">Traer una tarea</button>
  <button class="btn btn-primary mt-2 m-2" (click)="createTask()">Crear Tarea</button>
  <button class="btn btn-primary mt-2 m-2" (click)="updateTask()">Actualizar Tarea</button>
  <button class="btn btn-primary mt-2 m-2" (click)="deleteTask()">Eliminar Tarea</button>


<router-outlet></router-outlet>
